<header
  class="d-lg-flex justify-content-center justify-content-lg-center bg-primary-gradient"
>
  <div class="container shadow pt-4 pt-xl-5 pb-4">
    <div
      class="row text-center d-lg-flex d-xl-flex justify-content-lg-center justify-content-xl-center pt-1"
    >
      <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
        <div class="text-center">
          <h1 class="fw-bold">The best solution for your RSVP needs!</h1>
        </div>
      </div>
      <div
        class="col-12 col-lg-10 d-flex justify-content-center flex-nowrap my-auto px-5"
      >
        <div
          class="text-center d-md-flex justify-content-center align-self-center flex-wrap justify-content-md-center position-relative mt-5"
          style="display: flex;flex-wrap: wrap;justify-content: flex-end;"
        >
          <div
            style="position: relative;flex: 0 0 45%;transform: translate3d(5%, 35%, 0);"
          ><img
              class="rounded img-fluid shadow d-block heart-hands"
              data-bss-parallax-speed="0.8"
              src="/public/img/heart-hands.png"
              width="417"
              height="277"
              style="padding-right: 0px;padding-left: 0px;margin-right: 9px;margin-left: 73px;"
            /></div>
          <div
            class="text-center d-inline-flex justify-content-center align-items-center align-content-center flex-nowrap"
            style="position: relative;flex: 10 0 45%;transform: translate3d(0%, 0%,0);"
          ><img
              class="rounded img-fluid shadow d-block d-md-flex justify-content-center align-content-center justify-content-md-center bouquet"
              data-bss-parallax-speed="0.4"
              src="/public/img/bouquet.png"
              width="500"
              height="435"
              style="margin-left: -2px;padding-left: 3px;"
            /></div>
          <div
            class="d-block d-md-flex justify-content-center justify-content-md-center"
            style="position: relative;flex: 0 0 60%;transform: translate3d(0, -15%, 0);"
          ><img
              class="rounded img-fluid shadow d-block rings"
              data-bss-parallax-speed="0.8"
              src="/public/img/rings.png"
              style="padding-right: 0px;padding-left: 0px;margin-left: -24px;"
            /></div>
        </div>
      </div>
    </div>
  </div>
</header>
<section>
  <div class="container py-5">
    <div class="row mb-4 mb-lg-5">
      <div class="col-md-8 col-xl-6 text-center mx-auto">
        <p class="fs-5 fw-semibold above-heading-p">Our Services</p>
        <h3 class="fw-bold">What we can do for you</h3>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
      <div class="col mb-5"><img
          class="rounded img-fluid shadow"
          src="/public/img/clipboard-image.png"
        /></div>
      <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
        <div>
          <h5 class="fw-bold">RSVP your guests</h5>
          <p class="text-muted mb-4">Erat netus est hendrerit, nullam et quis ad
            cras porttitor iaculis. Bibendum vulputate cras aenean.</p>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
      <div class="col order-md-last mb-5"><img
          class="rounded img-fluid shadow"
          src="/public/img/clipboard-image-1.png"
        /></div>
      <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
        <div>
          <h5 class="fw-bold">Collect your guest dinner options</h5>
          <p class="text-muted mb-4">Erat netus est hendrerit, nullam et quis ad
            cras porttitor iaculis. Bibendum vulputate cras aenean.</p>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
      <div class="col mb-5"><img
          class="rounded img-fluid shadow"
          src="/public/img/clipboard-image-2.png"
        /></div>
      <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
        <div>
          <h5 class="fw-bold">Send thank you cards</h5>
          <p class="text-muted mb-4">Erat netus est hendrerit, nullam et quis ad
            cras porttitor iaculis. Bibendum vulputate cras aenean.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section></section>
<section class="bg-primary-gradient">
  <div class="container pt-5">
    <div class="row mb-5 above-heading-p">
      <div class="col-md-8 col-xl-6 text-center mx-auto">
        <p class="fs-5 fw-semibold above-heading-p">Testimonials</p>
        <h3 class="fw-bold black-text"><strong>What People Say About us</strong></h3>
        <p class="text-muted">No matter the project, our team can handle
          it.&nbsp;</p>
      </div>
    </div>
    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 d-sm-flex justify-content-sm-center mb-5"
    >
      <div class="col mb-4">
        <div class="d-flex flex-column align-items-center align-items-sm-start">
          <p
            class="text-start bg-light border rounded border-light p-4 testimonial"
          >Nisi sit justo faucibus nec ornare amet, tortor torquent. Blandit
            class dapibus, aliquet morbi.</p>
          <div class="d-flex">
            <div>
              <p class="fw-bold text-primary mb-0 par-left-mar">Youlormans
                Hilaire</p>
              <p class="text-muted mb-0 par-left-mar">Erat netus</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="d-flex flex-column align-items-center align-items-sm-start">
          <p class="bg-light border rounded border-light p-4">Nisi sit justo
            faucibus nec ornare amet, tortor torquent. Blandit class dapibus,
            aliquet morbi.</p>
          <div class="d-flex">
            <div>
              <p class="fw-bold text-primary mb-0 par-left-mar">Michael Kent</p>
              <p class="text-muted mb-0 par-left-mar">Erat netus</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="d-flex flex-column align-items-center align-items-sm-start">
          <p class="bg-light border rounded border-light p-4">Nisi sit justo
            faucibus nec ornare amet, tortor torquent. Blandit class dapibus,
            aliquet morbi.</p>
          <div class="d-flex">
            <div>
              <p class="fw-bold text-primary mb-0 par-left-mar">Luis Robles</p>
              <p class="text-muted mb-0 par-left-mar">Erat netus</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="d-flex flex-column align-items-center align-items-sm-start">
          <p class="bg-light border rounded border-light p-4">Nisi sit justo
            faucibus nec ornare amet, tortor torquent. Blandit class dapibus,
            aliquet morbi.</p>
          <div class="d-flex">
            <div>
              <p class="fw-bold text-primary mb-0 par-left-mar">Kaylin</p>
              <p class="text-muted mb-0 par-left-mar">Erat netus</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>