<section class="py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-8 col-xl-6 text-center align-self-end mx-auto">
        <p class="fs-5 fw-semibold above-heading-p">Log In</p>
        <h2 class="fw-bold">Welcome back</h2>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-6 col-xl-4">
        <div class="card">
          <div
            class="card-body text-center d-flex flex-column align-items-center"
          >
            <form id="login-form" method="POST">
              <div class="mb-3"><input
                  id="email-login"
                  class="form-control email"
                  type="email"
                  name="email"
                  placeholder="Email"
                /></div>
              <div class="mb-3"><input
                  id="password-login"
                  class="form-control password"
                  type="password"
                  name="password"
                  placeholder="Password"
                /></div>
              <div class="mb-3"><button
                  id="login-form-btn"
                  class="btn btn-primary shadow d-block w-100 btn-color"
                  type="submit"
                >Log in</button></div>
              <a id="signup-btn" href="signup">Sign Up</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>