<section class="py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-8 col-xl-6 text-center align-self-end mx-auto">
        <p class="fs-5 fw-semibold above-heading-p">Sign Up</p>
        <h2 class="fw-bold">Welcome back</h2>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-6 col-xl-4">
        <div class="card">
          <div
            class="card-body text-center d-flex flex-column align-items-center"
          >
            <form id="signup-form" method="post">
              <div class="mb-3"><input
                  id="user-signup"
                  class="form-control user-name"
                  type="text"
                  name="username"
                  placeholder="User"
                /></div>
              <div class="mb-3"><input
                  id="email-signup"
                  class="form-control email"
                  type="email"
                  name="email"
                  placeholder="Email"
                /></div>
              <div class="mb-3"><input
                  id="password-signup"
                  class="form-control password"
                  type="password"
                  name="password"
                  placeholder="Password"
                /></div>
              <div class="mb-3"><button id="signup-form-btn"
                  class="btn btn-primary shadow d-block w-100 btn-color"
                  type="submit"
                >Sign Up</button></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{! <footer class="bg-primary-gradient"></footer> }}